<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap file -->
    <link rel="stylesheet" href="/bootstrap4_files/css/bootstrap.min.css">
</head>
<body>

    <!-- CONTENEUR PAGE INTROUVABLE -->
    <section class="d-flex justify-content-center align-items-center" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8);">
        <div class="bg-white rounded pt-3 px-3 pb-4" style="height: max-content !important; max-width: 80vw; width: 30rem;">
            <h5 class="mb-3">Oups !</h5>
            <p class="text-center text-muted" style="font-size: 0.9rem;">
                Page introuvable
            </p>
        </div>
    </section>
    
</body>
</html>