<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MON CSS -->
    <link rel="stylesheet" href="/myCss/delete_message_interface.css">
</head>
<body>
    <div class="rounded bg-white px-4 py-5" id="delete_message_interface">
        <p class="text-center text-muted" id="text_delete_message">
            Supprimer le message ?
        </p>
        <div class="d-flex justify-content-start">
            <a href="" class="mr-5" id="link_delete_message">
                <button type="button" class="text-white bg-danger py-2 px-3" id="button_delete_message">
                    <i class="fas fa-trash-alt mr-1" aria-hidden="true"></i>
                    Supprimer
                </button>
            </a>
            <button type="button" class="text-white bg-dark py-2 px-3" id="button_cancel_delete_message">
                <i class="fas fa-times mr-1" aria-hidden="true"></i>
                Annuler
            </button>
        </div>
    </div>
</body>
</html>