<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/myCss/footer.css">
</head>
<body>
    <!-- Pied de la page -->
    <section class="bg-dark pt-4" id="section_pied_page">
        <div class="d-flex justify-content-center mb-4">
            <div>
                <p class="text-white text-center font-weight-bold" style="font-size: 1.1rem; letter-spacing: 0.25px;">Nous suivre</p>
                <div class="d-flex justify-content-center mb-4">
                    <a href="https://wa.me/+221774893206" class="mr-4 lien_reseaux_sociaux" title="sur Whatsapp">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                    </a>
                    <a href="" class="mr-4 lien_reseaux_sociaux" title="sur Facebook">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="mr-4 lien_reseaux_sociaux" title="sur Twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" class="lien_reseaux_sociaux" title="sur Instagram">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <p class="text-white text-center font-weight-bold" style="font-size: 1.1rem; letter-spacing: 0.25px;">Appellez-Nous</p>
                <div class="d-flex justify-content-center align-items-center flex-column mb-3">
                    <a href="tel:+221777781562" class="text-white mb-1">
                        <i class="fas fa-phone text-white" aria-hidden="true"></i>
                        77 778 15 62
                    </a>
                    <a href="tel:+221338893218" class="text-white mb-1">
                        <i class="fas fa-phone text-white" aria-hidden="true"></i>
                        33 889 32 18
                    </a>
                    <a href="tel:+221767361637" class="text-white mb-1">
                        <i class="fas fa-phone text-white" aria-hidden="true"></i>
                        76 736 16 37
                    </a>
                    <a href="mailto:ggb-automobile@gmail.com" class="text-white">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        ggb-automobile@gmail.com
                    </a>
                </div>
                <a href="/contacts">
                    <button type="button" class="py-1 px-3 bg-success rounded text-white">
                        <i class="fas fa-paper-plane"></i>
                        Envoyez-nous une question/suggestion
                    </button>
                </a>
            </div>
        </div>
      
        <p class="text-center text-white" id="text_nos_partenaires">Nos partenaires</p>
        <div class="d-flex justify-content-center">
            <a href="" class="mr-3 logo_partenaire">
                <img src="" alt="">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
            <a href="" class="mr-3">
                <img src="" alt="" class="logo_partenaire">
            </a>
        </div>

        <div class=" text-center text-muted py-2 bg-light rounded" id="text_copyright">
            Copyright by@Senegal-auto quality 2020
        </div>

    </section>
</body>
</html>