<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/myCss/tarifs_location_voiture.css">
</head>
<body>

    <div class="rounded bg-white py-3" id="container_tarif_location_voiture">
        <div class="d-flex justify-content-end mb-3 pr-4">
            <span id="window_close">
                <i class="fas fa-window-close text-danger" aria-hidden="true"></i>
            </span>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <img src="/our_vehicule/14_03_2021_1986_1.jpg" alt="" class="rounded" id="img_location_tarif">
        </div>

        <div class="text-muted mb-4 pl-3" id="offre_sans_chauffeur">
            <i class="fas fa-info" aria-hidden="true"></i>
            offre sans chauffeur.
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="" id="container_price_location">

            </div>            
        </div>    

    </div>
    
</body>
</html>