*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* !-- SECTION FORM -- */
#section_form{
    width: 1000px;
    max-width: 95vw;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
}
#title{
    margin-bottom: 2.3rem; 
    width: max-content;
}
.titre_champ{
    font-size: 0.95rem;
}
.input_form{
    width: 30rem;
    max-width: 80vw;
}
#button_envoi{
    font-size: 0.9rem;
    width: 25rem;
    max-width: 80vw;
    letter-spacing: 0.25px;
}