
/* POUR LA PAGE 'delete_message_interface' */
.delete_message_interface{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5 !important;
    visibility: hidden;
}
.show_delete_message_interface{
    visibility: visible !important;
}